<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- https://www.flaticon.com/free-icon/music-note_651758?term=music&page=1&position=33 -->
<link rel="shortcut icon" href="/favicon.ico">

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700|Open+Sans:400,600,700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/index.css" />

<title>Real Time Web</title>
