<% if (data === undefined) { %>
<p class="results__note">There are no results!</p>
<% } else { %>
<ul class="tracks">
  <% data.forEach(track => { %>
  <li class="track__item" data-id="<%- track.id %>">
    <p class="track__name"><%- track.title %></p>
    <p class="track__artist"><%- track.artist %></p>
    <button class="track__add" onclick="addTrack(this)">
      ➕
    </button>
  </li>
  <% }) %>
</ul>
<% } %>
