<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <header>
      <h1>Chatbot</h1>
      <p>Set your username:</p>
      <form class="username-form">
        <input id="username" autocomplete="off" type="text">
        <button>Use</button>
      </form>
    </header>
    <main>
      <ul class="message-list"></ul>
      <form class="message-form">
        <input id="message" autocomplete="off" type="text" />
        <button>Send</button>
      </form>
    </main>
    <footer></footer>
    <%- include('./../partials/scripts') %>
  </body>
</html>
