<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container container__index">
      <a class="login__link" href="/login">
        <button class="login__button">
          <img class="login__icon" src="./Spotify_Icon.png" alt="spotify icon" />
          Sign in with Spotify
        </button>
      </a>
    </main>
    <%- include('./../partials/scripts') %>
  </body>
</html>
