<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container"></main>
    <%- include('./../partials/scripts') %>
  </body>
</html>
