<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <header class="header">
      <h1>Rooms ui</h1>
    </header>
    <main class="container">
      <section class="tile">
        <h1 class="tile__title">Deep house</h1>
      </section>
      <section class="tile">
        <h1 class="tile__title">UK house</h1>
      </section>
      <section class="tile">
        <h1 class="tile__title">Melodic house</h1>
      </section>
      <section class="tile">
        <h1 class="tile__title">Techno</h1>
      </section>
    </main>
    <%- include('./../partials/scripts') %>
  </body>
</html>
