:root {
  --cl-background: #f4f5f9;
  --cl-light-grey: #d6d9ed;
  --cl-mid-grey: #9d9fb3;
  --cl-dark-blue: #474c6e;
  --cl-dark: #202126;
  --cl-light-blue: #00b4ff;
  --cl-red: #de3c63;
  --cl-blue: #555fb9;
  --cl-green: #36cb95;
  --cl-orange: #efa621;

  --shadow: 0 1px 3px 0 rgba(71, 76, 110, 0.1), 0 1px 2px 0 rgba(71, 76, 110, 0.06);
  --shadow-hover: 0 4px 6px -1px rgba(71, 76, 110, 0.1), 0 2px 4px -1px rgba(71, 76, 110, 0.06);

  --transition: 0.15s ease-in;

  --font-heading: 'Fira Sans', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--cl-background);
  color: var(--cl-dark);
  font-family: var(--font-body);
  font-size: 15px;
  height: 100%;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

header,
main,
footer {
  margin: 0 auto;
  max-width: 820px;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}

.header__title {
  text-transform: uppercase;
}

.header__subtitle {
  color: var(--cl-mid-grey);
  font-size: 1.25rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

main {
  height: 80vh;
  padding: 2rem 0;
}

.container__index {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.login__button {
  align-items: flex-start;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: var(--cl-dark);
  cursor: pointer;
  display: flex;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.5rem 2rem;
  transition: var(--transition);
}

.login__button:hover {
  box-shadow: var(--shadow-hover);
}

.login__icon {
  margin-right: 1.5rem;
  width: 1.5rem;
}
